#root {
  margin: auto;
  padding: 2rem;
  max-width: 1280px;
}

.itemCard-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.item-price {
  font-weight: bold;
}

.gallery-img {
  scale: 200%;
  image-rendering: pixelated;
}

:any-link {
  color: black;
  text-decoration: none;
}
.cart-button {
  display: flex;
  align-items: center
}

.home-search{
  grid-column: 2;
  display: flex;
  text-align: left;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 1%;
  align-items: center;
  grid-column: 2;
  justify-content: center;
}

#search{
  max-width: 800px;
}

.header {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  align-items: center;
}

.header-text {
  margin-left: 15px; /* <----- Fix for slight centering offset*/
  grid-column: 2;
  justify-content: center;
}