#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.card-container {
  width: 175px;
  background-color: #91e0a7;
  border-width: 5px;
  border-color: #b8eed5;
  border: 5px solid #b8eed5;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: transform 0.3s ease;
}

.card-container:hover{
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px #84c8e2;
}

.itemCard-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.item-price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.poke-dollar-img {
  height: 15px;
}

.item-price {
  font-weight: bold;
}

.gallery-img {
  scale: 200%;
  image-rendering: pixelated;
}

:any-link {
  color: black;
  text-decoration: none;
}
.cart-button {
  display: "flex";
  align-items: "center"
}

.home-search{
  display: flex;
  text-align: left;
  flex-direction: row;
}

#search{
  width: 314px;
}