@font-face {
  font-family: 'PokemonClassic';
  src: url('src/Fonts/pokemon-classic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('src/Fonts/pokemon-classic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

/* Global Styling for a Digital PokéMart Theme */
body {
  font-family: 'Pokemon Classic', PokemonClassic; /* Classic Pokémon feel */
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smooth: never;
  background: linear-gradient(to right, #021b79, #0575E6); /* Digital PokéMart colors */
  color: white;
  text-align: center;
  min-height: 100vh;
}

/* Container Styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Buttons - Digital Look */
button {
  background: #ffcc00;
  border: 3px solid white;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: white;
  color: black;
  transform: scale(1.1);
}
